.pai {
    display: flex;
    background-color: rgb(241, 241, 241);
    flex-direction: row;
    justify-content: center;
   }
   
   .pai > div {
     background-color:rgb(0, 0, 0);
     margin: 10px;
     padding: 20px;
     font-size: 30px;
   }
   body{
     background-color: brown;
     color: aliceblue;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
   }
   
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

div{
  color: rgb(255, 255, 255);
}